<template>
	<div id="localisation">
		<i class="fa fa-compass fa-4x" aria-hidden="true"> {{ location }}</i>
	</div>
</template>

<script>
	// a6d7a7067048c586
	import api from '../api/wunderground'

	let location = () => {return new Promise((resolve, reject) => {api.getLocation(resolve, reject)})};

	export default {
		name: 'Localisation',
		data () {
			return {
				location: location().then(loc => {
					this.location = loc.location;
				})
			}
		}
	}


</script>

<style>
#localisation {
	display: flex;
	justify-content: center;
	height:50vh;
	background-color: dodgerblue;
	align-items: center;
}
</style>

