<template>
	<div id="weather">
		<ul id="list">
			<li v-for="day in week">
				<strong>{{day.date.weekday}}</strong>
				<img v-bind:src="day.icon_url"> <br>
				<strong>{{day.low.celsius}}  {{day.high.celsius}}</strong>
			</li>
		</ul>
	</div>
</template>

<script>
	import api from "../api/wunderground";

	let location = () => {return new Promise((resolve, reject) => {api.getLocation(resolve, reject);});};

	export default {
		name: "Weather",
		data() {
			return {
				week: location().then(loc => {
					let forecast = () => {
						return new Promise(
							(resolve, reject) => {api.getForecast(loc.crd.lat, loc.crd.long, resolve, reject);});
					};

					forecast().then(rep => {
						this.week = rep;
					});
				})
			};
		},
		components: {}
	};
</script>

<style>
	#weather {
		display: flex;
		flex-direction: row;
		height: 50vh;
		justify-content: center;
		background-color: dodgerblue;
	}

	ul {
		display: flex;
		width: 100vh;
		list-style-type: none;
		align-items: center;
	}

	list {

	}
</style>

