<template>
  <div id="app">
    <Localisation/>
    <Weather/>
  </div>
</template>

<script>
import Localisation from './components/Localisation'
import Weather from './components/Weather'

export default {
  name: 'app',
  components: {
  	Localisation,
    Weather
  }
}
</script>

<style>
#app {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0px;
}
</style>
